django-audit-fields
edc-action-item
edc-appointment
edc-auth
edc-constants
edc-form-validators
edc-lab
edc-list-data
edc-metadata
edc-model
edc-model-admin
edc-permissions
edc-registration
edc-sites
edc-utils
edc-visit-schedule
